---
title: Welcome to Magic
---

<div class="welcome">
  <h1>Phil is Watching</h1>
</div><!-- .welcome -->

<div>
  <button id='btnUpdate' type='button'>Update</button>
</div>

<div id="content">Here is some sweet content</div>